# The dump.
dump/

# Dependency directories.
src/deps/*
!src/deps/DEPENDENCIES.md

# Build directory.
build/
build_mingw/
build_unix/
build_win/

# Eclipse project files.
.project
.cproject
.settings

# VS project files.
vs

# IMGUI settings.
*.ini

# Windows...
Thumbs.db
