# The dump.
dump/

# Dependency directories.
src/deps/*
!src/deps/DEPENDENCIES.md

# Build directory.
build/

# Eclipse project files.
.project
.cproject
.settings

# VS project files.
vs

# IMGUI settings.
imgui.ini
